ion-content{
    padding: 0%;
}
.main{
    width: 430px;
    height: 932px;
    text-align: center;
    background-color: rgb(253, 1, 1);
    padding-top: 200px;
}
.button{
    border-radius: 100px;
}